{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js",

  "tailwindFunctions": ["cn", "clsx", "twMerge"],

  "overrides": [
    {
      "files": "*.json",
      "options": { "trailingComma": "none" }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": { "proseWrap": "always" }
    }
  ]
}
